body {
  background-color: #abbed6;
}

#content {
  background-color: #f8f8ff;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

h1, h2 {
  text-align: center;
}

/*--------  buttons and hyperlinks -------*/
button, #comment-submit, .login-link {
  background-color: #3071C7;
  border:none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 200px;
}

button:hover, #comment-submit:hover, .login-link:hover {
  background-color: #112745;
}

/*-------- randomizer button and text-------*/
.close-button {
  font-weight: bold;
  float: right;
  padding: 5px;
  width: 25px;
}

#randomizer-text {
  text-align: center;
}


#randomizer-div {
  background-color: #6E97CC;
  color: white;
  padding: 10px;
}

#NJ-person-container {
  background-color: #78A4DE;
  display: none;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

#NJ-person-name {
   font-size: 20px;
   font-weight: bold;
}

#NJ-person-descrip {
  font-style: italic;
}

/*------------ gallery-------------*/
#gallery-container {
  background-color: #6E97CC;
  color: white;
  padding: 10px;
  text-align: center;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery img {
  height: 250px;
  margin:10px;
  object-fit: cover;
  width: auto;
}

#gallery img:hover {
  border: thick solid black;
}

#popup {
  background-color: rgba(0,0,0,0.2);
  display: none;
  height: 100%;
  left: 0;
  padding-top: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1; 
}

#popup-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 50%;
}


/*-------- contact section -------*/
#contact-section {
  text-align: center;
}

#contact-section ul {
  list-style-type: none;
}

#contact-section a {
  font-weight: bold;
  text-decoration: none;
}

#contact-section a:visited {
  color: black;
}

#contact-section a:hover {
  color: #3071C7;
  font-weight: bold;
}

/*----------------------- comment section -------------------------*/
#comment-section {
  background-color: #6E97CC;
  color: white;
  padding: 10px;
}

/*------- comment form ---------*/
#comment-form-header {
  font-weight: normal;
  margin-bottom: 5px;
  text-align: center;
}

#comment-textarea, #name-input {
  display: block;
  margin: auto;
  padding: 10px;
  width: 200px;
}

#name-input {
  display: block; 
  margin: auto;
  width: 200px;
}

#comment-submit {
  margin-top: 10px;
  width: 100px;
}

/*------- comment limit ---------*/
#comment-limit-section {
  display: block;
  margin: auto;
  width: 300px;
}

#limit-descrip {
  display: inline-block;
  font-style: italic;
}

#comment-limit-select {
  margin-left: 15px;
  width: 40px;
}

/*------- comment styling ---------*/
.comment {
  background-color: #78A4DE;
  margin: 10px;
  padding: 10px;
  position: relative;
  word-wrap: break-word;
}

.comment-text {
  display: inline-block;
}

.comment-name {
  display: inline-block;
  font-weight: bold;
}

.comment-email {
  font-style: italic;
}

.comment-name, .comment-email, .comment-message {
  margin: 0px;
}

.delete-comment-btn {
  float: right;
  padding: 5px;
  width: 100px;
}

/*------- comment mood ---------*/
#comment-mood-select {
  display: block;
  margin: auto;
  margin-top: 10px;
}

.comment-mood {
  display: inline-block;
  margin-right: 20px;
  width: 75px;
}

/*--------login to comment feature---------*/
#comment-form {
  display: none;
}

.login-link {
  background-color: #21448a;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}
